.breadcrumbs {
  align-items: center;
  display: inline-flex;
  gap: 9px;
  position: relative;
}

.breadcrumbs .text-wrapper {
  color: #00000080;
  font-family: "Quicksand", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.breadcrumbs .vector-instance {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}
