.group {
  height: 82px;
  position: relative;
  width: 1116px;
}

.group .how-can-i-take {
  font-family: var(--h-3-font-family);
  font-size: var(--h-3-font-size);
  font-style: var(--h-3-font-style);
  font-weight: var(--h-3-font-weight);
  left: 0;
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
  position: absolute;
  top: -1px;
  width: 907px;
}

.group .you-can-talk-to-the {
  color: #2a2a2ab2;
  font-family: var(--h-4-font-family);
  font-size: var(--h-4-font-size);
  font-style: var(--h-4-font-style);
  font-weight: var(--h-4-font-weight);
  left: 70px;
  letter-spacing: var(--h-4-letter-spacing);
  line-height: var(--h-4-line-height);
  position: absolute;
  top: 51px;
  width: 1000px;
}

.group .chevron-down {
  height: 24px;
  left: 1070px;
  position: absolute;
  top: 6px;
  width: 46px;
}

.group .default {
  color: var(--purple);
}

.group .variant-2 {
  color: var(--body-text-color);
}
